[Unit]
Description=Run Nginx Docker container for jmopines.com
After=network.target

[Service]
ExecStart=/home/jm/sites/jmopines/run.sh
KillMode=control-group
Restart=always
RestartSec=5
KillMode=process
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target