[Unit]
Description=Run Nginx Docker container for jmopines.com
After=network.target

[Service]
User=jm
Group=jm
ExepStartPre=/home/jm/sites/jmopines/stop.sh
ExecStart=/home/jm/sites/jmopines/run.sh
ExecStop=/home/jm/sites/jmopines/stop.sh
Restart=always
RestartSec=5
KillMode=process
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target